In [2]:
import pandas as pd

df1 = pd.read_csv("2024_LoL_esports_match_data_from_OraclesElixir1.csv", sep=';')

df1.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv("2024_LoL_esports_match_data_from_OraclesElixir_gamedata.csv", sep=';')

df2.head()

,gameid,datacompleteness,league,year,split,playoffs,date,game,patch,gamelength,...,t2p5_deathsat10,t2p5_goldat15,t2p5_xpat15,t2p5_csat15,t2p5_golddiffat15,t2p5_xpdiffat15,t2p5_csdiffat15,t2p5_killsat15,t2p5_assistsat15,t2p5_deathsat15
0,10660-10660_game_1,partial,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,1886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10660-10660_game_2,partial,DCup,2023,NaN,0,01/01/2024 06:03,2,13.24,1911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10660-10660_game_3,partial,DCup,2023,NaN,0,01/01/2024 06:54,3,13.24,1324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10660-10660_game_4,partial,DCup,2023,NaN,0,01/01/2024 07:35,4,13.24,2032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10661-10661_game_1,partial,DCup,2023,NaN,0,01/01/2024 08:45,1,13.24,2292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df3 = pd.read_excel("2024_LoL_esports_match_data_from_OraclesElixir.xlsx")
df2.head()

,gameid,datacompleteness,league,year,split,playoffs,date,game,patch,gamelength,...,t2p5_deathsat10,t2p5_goldat15,t2p5_xpat15,t2p5_csat15,t2p5_golddiffat15,t2p5_xpdiffat15,t2p5_csdiffat15,t2p5_killsat15,t2p5_assistsat15,t2p5_deathsat15
0,10660-10660_game_1,partial,DCup,2023,NaN,0,01/01/2024 05:13,1,13.24,1886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10660-10660_game_2,partial,DCup,2023,NaN,0,01/01/2024 06:03,2,13.24,1911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10660-10660_game_3,partial,DCup,2023,NaN,0,01/01/2024 06:54,3,13.24,1324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10660-10660_game_4,partial,DCup,2023,NaN,0,01/01/2024 07:35,4,13.24,2032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10661-10661_game_1,partial,DCup,2023,NaN,0,01/01/2024 08:45,1,13.24,2292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN